@use "../abstracts/extend" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/container" as *;

.footer {
  &.common {
    &.section {
    }
  }
  &__top {
    &.common {
    }
  }
  &__center {
    &.common {
      background: rgba($color-1, 0.7);
      &:not(.page-2) {
        padding-block: 105px 78px;

        @include breakpoint(max-lg) {
          padding-block: 85px 58px;
        }
      }

      .footer-info {
        @include breakpoint(xl) {
          max-width: 348px;
          width: 100%;
        }
        .footer-logo {
          @extend %d-inline-block;
          margin-bottom: 27px;
          @include breakpoint(max-md) {
            margin-bottom: 15px;
          }
        }
        p {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 0.45px;
          text-transform: capitalize;
        }
        .contact-info {
          @extend %d-flex, %item-center;
          margin-top: 20px;

          @include breakpoint(max-md) {
            margin-top: 10px;
          }

          .contact-icon {
            padding-right: 15px;
            color: $color-primary;
            border-right: 1px solid rgba(16, 156, 61, 0.5);
          }
          .contact {
            @extend %d-flex, %flex-col;
            padding-left: 15px;

            a {
              font-family: $ff-title;
              font-size: 22px;
              font-weight: 700;
              line-height: 190.909%;
              letter-spacing: 0.66px;
              text-transform: capitalize;
              transition: all .3s;
              &:hover{
                color: $color-primary;
              }
              

              @include breakpoint(max-md) {
                font-size: 18px;
              }
            }
            .open-time {
              @extend %d-inline-block;
              color: $color-primary;
              font-family: $ff-title;
              font-size: 15px;
              font-weight: 700;
              line-height: 1;
              letter-spacing: 0.45px;
              text-transform: capitalize;
            }
          }
        }
        .social-info {
          @extend %d-flex, %item-center;
          column-gap: 8px;
          margin-top: 26px;

          @include breakpoint(max-md) {
            margin-top: 15px;
          }
          .social-title {
            color: $color-primary;
            font-family: "Bricolage Grotesque";
            font-size: 15px;
            font-weight: 700;
            text-transform: capitalize;
          }
          ul {
            @extend %d-flex, %item-center;
            gap: 3px;
            margin-left: 5px;

            li {
              @extend %shrink-0;

              a {
                @extend %d-grid, %place-center;
                width: 45px;
                height: 45px;
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 100%;
                color: $color-white;

                &:hover {
                  color: $color-primary;
                }
              }
            }
          }
        }
      }

      .social-share {
        margin-top: 35px;
      }

      .footer-widgets {
        &.links {
          max-width: 460px;
        }
      }
    }

    &.page-2 {
      padding-block: 80px 70px;

      @include breakpoint(max-lg) {
        padding-block: 60px 50px;
      }
    }
  }
  &__bottom {
    &.common {
      padding-block: 30px;

      .copyright {
        color: $color-white;
        font-family: $ff-title;
        font-weight: 700;
        line-height: 175%;
        letter-spacing: 0.48px;
        text-transform: capitalize;

        @include breakpoint(max-sm) {
          font-weight: 500;
          text-align: center;
        }

        &.v2 {
          @extend %text-center;
          color: $color-9;
        }
      }
      .payments {
        @extend %text-right;

        @include breakpoint(max-sm) {
          text-align: center;
        }
      }
    }
  }
}

.footer-three {
  &.section {
    padding-top: 88px;

    @include breakpoint(max-lg) {
      padding-top: 60px;
    }
  }

  &__top {
    margin-bottom: 24px;
    .container {
      @extend %p-relative;

      &::after {
        @extend %p-absolute;
        left: 0;
        bottom: -24px;
        width: 100%;
        height: 1px;
        background: rgba($color-white, 0.17);
        z-index: 2;
      }
    }
    .footer-links {
      ul {
        @extend %d-flex, %flex-row, %justify-end;
        gap: 40px;

        @include breakpoint(max-md) {
          gap: 20px;
          justify-content: center;
        }

        li {
          a {
            @extend %text-uppercase;
            font-family: $ff-rubik;
            font-size: $fs-base;
            font-weight: 700;
            letter-spacing: 0.8px;

            &.active,
            &:hover {
              color: $color-primary;
            }
          }
        }
      }
    }
  }
  &__center {
    padding-block: 60px 68px;
    @include breakpoint(max-lg) {
      padding-block: 40px 48px;
    }
    .newsletter {
      .newsletter-email {
        @extend %d-flex, %item-center;

        & > i,
        svg {
          color: $color-primary;
        }
        .form-control {
          color: $color-white;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          text-transform: capitalize;
          background-color: transparent;
          border: none;

          &::placeholder {
            color: $color-paragraph;
            opacity: 1;
          }

          &:focus {
            box-shadow: none;
            border: none;
          }
        }
        .btn-primary {
          background: none !important;
          color: $color-white;
        }
        border-bottom: 1px solid rgba($color-white, 0.17);
        padding-bottom: 10px;
        margin-bottom: 15px;
      }
      .newsletter-checkbox {
        // @extend
        input {
          display: none;
        }
        label {
          @extend %p-relative;
          padding-left: 30px;
          text-transform: capitalize;
          color: $color-paragraph;
          font-size: 14px;
          font-weight: 600;
          user-select: none;
          cursor: pointer;
          a {
            color: $color-white;
            text-decoration: underline;
          }

          &::before {
            @extend %p-absolute, %d-grid, %place-center;
            width: 20px;
            height: 20px;
            border-radius: 5px;
            background-color: $color-1;
            border: 1.5px solid rgba($color-white, 0.1);
            box-shadow: 0px 4px 4px 0px rgba($color-black, 0.25);
            top: 50%;
            left: 0;
            @include transform(translateY(-50%));
          }
        }
        input[type="checkbox"]:checked ~ label {
          &::before {
            background-color: $color-primary;
            content: "\f00c";
            font: var(--fa-font-solid);
            color: $color-body;
            font-size: $fs-14;
          }
        }
      }
    }
  }
}

.footer-links {
  ul {
    @extend %d-flex, %flex-col;
    row-gap: 15px;

    @include breakpoint(max-md) {
      row-gap: 10px;
    }
    li {
      a {
        @extend %d-flex, %item-baseline;
        gap: 12px;
        color: $color-paragraph;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.45px;
        text-transform: capitalize;
        transition: all .3s;
        &:hover{
          color: $color-primary;
        }

        i {
          color: $color-primary;
        }
      }
    }
  }
  &.v2 {
    ul {
      li {
        a {
          i {
            color: $color-paragraph;
            @include transition($transition);
          }

          &:hover {
            color: $color-primary;
            i {
              color: $color-primary;
            }
          }
        }

        // &:first-of-type {
        //   a {
        //     i {
        //       color: $color-primary;
        //     }
        //   }
        // }
      }
    }
  }
}
.footer-widgets {
  .widgets-title {
    @extend %p-relative;
    line-height: 175%;
    letter-spacing: 0.72px;
    line-height: 175%;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding-bottom: 9px;
    margin-bottom: 35px;
    border-bottom: 2.5px solid rgba($color-white, 0.2);
    max-width: 243px;

    &::before {
      @extend %p-absolute;
      left: 0;
      bottom: -2.5px;
      width: 80px;
      height: 2.5px;
      background-color: $color-primary;
    }
  }

  address {
    color: $color-paragraph;
    font-family: $ff-body;
    font-size: $fs-base;
    font-weight: 600;
    text-transform: capitalize;
  }
  .contact-info {
    @extend %d-flex, %flex-col;
    a {
      color: $color-paragraph;
      font-weight: 600;
      transition: all .3s;
      &:hover{
        color: $color-primary;
      }

      &[href^="tel:"] {
        font-weight: 700;
      }
    }
  }

  .instagram {
    @extend %d-grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 13px;
    row-gap: 12px;

    a {
      @extend %d-block, %p-relative;
      border: 3px solid $color-primary;
      border-radius: 10px;
      overflow: hidden;

      &::before {
        @extend %p-absolute;
        inset: 0;
        background: rgba(226, 197, 93, 0.3);
        opacity: 0;
        @include transform(scale(0.5));
        @include transition($transition-3);
      }

      &:hover {
        &::before {
          opacity: 1;
          @include transform(scale(1));
        }
      }
    }
  }
  .instagram-mask {
    mask-image: url(../images/footer/instagram-mask-shape.png);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    // @include breakpoint(xxl) {
    // }
    // @include breakpoint(max-sm) {
    //   mask-size: 100% 100%;
    // }

    a {
      display: block;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }

  &.v2 {
    .widgets-title {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 20px;
      font-weight: 800;
      &::before {
        content: unset;
      }
    }

    &.has-margin-left {
      margin-left: -25px;
    }
  }
}

.social-share {
  ul {
    @extend %d-flex, %item-center;
    gap: 11px;

    li {
      a {
        @extend %d-grid, %place-center, %shrink-0;
        background-color: $color-body;
        border: 2px dashed rgba($color-white, 0.2);
        border-radius: 100%;
        width: 46px;
        height: 46px;

        i,
        svg {
          opacity: 0.8;
        }

        &:hover {
          border-color: $color-primary;
        }
      }
    }
  }
}
