<div class="popup-search-box">
  <button class="searchClose" aria-label="Close search">
    <i class="fal fa-times"></i>
  </button>
  <form action="#">
    <input
      type="text"
      class="border-theme"
      placeholder="What are you looking for"
      aria-label="What are you looking for"
    />
    <button type="submit" aria-label="Search">
      <i class="fal fa-search"></i>
    </button>
  </form>
</div>
