---
import BaseLayout from '../layouts/BaseLayout.astro';
import { pages } from '../data/pages';

const { meta, breadcrumb, scripts } = pages.notFound;
---

<BaseLayout {...meta} breadcrumb={breadcrumb} scripts={scripts}>
<section class="error section bg-color-body section-padding-top-bottom">
        <div class="container">
          <div class="row g-4">
            <div class="col-12 fade-anim">
              <div class="error__content">
                <h4 class="sub-title">error.</h4>
                <h2 class="title">
                  <span class="left">4</span>
                  <span class="error-shape">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="189"
                      height="265"
                      viewBox="0 0 189 265"
                      fill="none"
                    >
                      <path
                        d="M74.2988 67.4454C74.2988 67.4454 74.2988 67.2378 74.2988 67.1191C74.3128 67.2275 74.3128 67.3371 74.2988 67.4454Z"
                        fill="white"
                      />
                      <path
                        d="M186.389 73.0215C186.537 73.7037 186.715 74.3859 186.863 75.0682C186.715 74.297 186.537 73.7037 186.389 73.0215Z"
                        fill="white"
                      />
                      <path
                        d="M187.375 77.7969C187.375 78.4494 187.642 79.1317 187.731 79.8139C187.642 79.1317 187.494 78.4494 187.375 77.7969Z"
                        fill="white"
                      />
                      <path
                        d="M185.17 68.3643C185.378 69.0761 185.585 69.7584 185.763 70.4406C185.585 69.7287 185.378 69.0465 185.17 68.3643Z"
                        fill="white"
                      />
                      <path
                        d="M183.748 63.7969C183.956 64.4791 184.223 65.1613 184.43 65.8436C184.223 65.1613 184.045 64.4791 183.748 63.7969Z"
                        fill="white"
                      />
                      <path
                        d="M87.5575 0.379272L85.4219 0.586907L88.5364 0.349609L87.5575 0.379272Z"
                        fill="white"
                      />
                      <path
                        d="M182.891 224.921V100.488C182.883 82.5726 177.775 65.0294 168.166 49.9088C158.557 34.7882 144.842 22.7148 128.626 15.0995C112.409 7.48426 94.3598 4.6417 76.5875 6.90404C58.8152 9.16638 42.0539 16.4402 28.2623 27.8753C10.2403 46.1509 0.138505 70.7874 0.142579 96.4543V228.54C0.142579 232.576 1.74576 236.446 4.59944 239.3C7.45313 242.153 11.3236 243.757 15.3593 243.757H26.3343C30.108 243.686 33.7237 242.229 36.4918 239.663C39.26 237.097 40.9869 233.602 41.3433 229.845C41.71 226.861 43.1486 224.111 45.3913 222.109C47.634 220.106 50.5279 218.987 53.5345 218.959H61.0983C64.4024 218.959 67.5712 220.272 69.9075 222.608C72.2439 224.944 73.5564 228.113 73.5564 231.417V243.371C73.4331 248.651 75.3708 253.772 78.9589 257.648C82.547 261.524 87.5033 263.851 92.7775 264.134C95.411 264.206 98.0322 263.748 100.486 262.789C102.939 261.829 105.175 260.387 107.062 258.548C108.948 256.708 110.446 254.509 111.467 252.081C112.488 249.652 113.012 247.044 113.007 244.409V233.226C113.007 232.41 113.168 231.601 113.482 230.847C113.795 230.093 114.255 229.408 114.833 228.832C115.412 228.256 116.099 227.8 116.855 227.49C117.61 227.181 118.42 227.023 119.236 227.027H139.555C140.371 227.023 141.181 227.181 141.936 227.49C142.692 227.8 143.379 228.256 143.958 228.832C144.536 229.408 144.996 230.093 145.309 230.847C145.622 231.601 145.784 232.41 145.784 233.226C145.784 235.988 146.881 238.636 148.833 240.588C150.786 242.541 153.434 243.638 156.195 243.638H180.577C181.249 243.639 181.917 243.549 182.565 243.371C182.696 242.766 182.765 242.15 182.772 241.532L182.891 224.921ZM121.757 53.2958C124.241 53.2815 126.699 53.8042 128.962 54.8281C131.225 55.8521 133.239 57.353 134.868 59.2283C137.947 62.4088 139.661 66.6666 139.644 71.0931C139.644 75.648 137.834 80.0164 134.613 83.2372C131.393 86.4581 127.024 88.2675 122.469 88.2675C118.034 88.2716 113.774 86.5356 110.604 83.4326C107.955 81.1508 106.066 78.1134 105.191 74.7276C104.317 71.3418 104.499 67.7695 105.712 64.49C106.926 61.2105 109.114 58.3805 111.981 56.3797C114.849 54.3788 118.261 53.3027 121.757 53.2958ZM57.4202 53.2958C59.8865 53.2828 62.3261 53.8067 64.5696 54.8311C66.8131 55.8556 68.8068 57.356 70.4122 59.2283C73.5234 62.3946 75.2698 66.6541 75.2768 71.0931C75.2807 73.3471 74.8401 75.5797 73.9803 77.6632C73.1204 79.7467 71.8582 81.6403 70.2657 83.2355C68.6733 84.8306 66.782 86.0961 64.7 86.9596C62.6179 87.8231 60.3861 88.2675 58.1321 88.2675C53.6979 88.2653 49.4401 86.5302 46.2672 83.4326C43.5968 81.1577 41.6884 78.1185 40.7996 74.7249C39.9108 71.3313 40.0845 67.7467 41.2971 64.4549C42.5097 61.1631 44.7029 58.3225 47.5807 56.3164C50.4585 54.3104 53.8825 53.2353 57.3905 53.2365L57.4202 53.2958ZM143.974 154.147L142.907 153.791C124.727 148.144 105.759 145.45 86.7264 145.812H90.8198H85.273H84.5611C80.7347 145.812 76.8489 146.227 72.8742 146.672H72.014C70.3529 146.85 68.7215 147.088 67.0604 147.325L65.6959 147.532C63.8272 147.829 61.9882 148.155 60.1195 148.541H59.7932C57.8651 148.927 55.9074 149.401 53.8607 149.876L52.3183 150.291C50.8055 150.677 49.3521 151.092 47.8393 151.567L46.1486 152.071C44.1909 152.694 42.2332 153.346 40.2162 154.088C40.2162 154.088 68.0986 123.358 87.379 121.756C89.3253 121.648 91.2761 121.648 93.2224 121.756H94.2903H96.159H97.5531L99.2735 122.023C99.7721 122.073 100.267 122.152 100.757 122.26L102.418 122.616L103.901 122.972L105.532 123.476L107.045 123.981L108.647 124.604L110.189 125.256L111.791 126.027L113.363 126.858C113.897 127.125 114.431 127.451 114.965 127.748L116.596 128.756L118.198 129.795C118.762 130.15 119.325 130.566 119.889 130.981L121.52 132.167C122.113 132.583 122.707 133.057 123.3 133.532L124.961 134.867L126.83 136.469L128.491 137.922L130.537 139.791C131.071 140.325 131.635 140.799 132.199 141.363L134.453 143.587L136.055 145.16L138.724 147.948L140.118 149.372L144.39 154.384L143.974 154.147Z"
                        fill="white"
                      />
                      <g style="mix-blend-mode: multiply">
                        <path
                          d="M181.082 57.0039C181.438 57.7751 181.735 58.576 182.061 59.3472C181.764 58.576 181.468 57.7751 181.082 57.0039Z"
                          fill="#E0E0E0"
                        />
                      </g>
                      <g style="mix-blend-mode: multiply">
                        <path
                          d="M187.016 75.0684C187.194 75.9582 187.372 76.8778 187.52 77.7973C187.223 76.8778 187.016 75.9582 187.016 75.0684Z"
                          fill="#E0E0E0"
                        />
                      </g>
                      <g style="mix-blend-mode: multiply">
                        <path
                          d="M187.721 79.8145C187.721 80.7933 187.988 81.7425 188.106 82.7807C187.988 81.7425 187.869 80.7933 187.721 79.8145Z"
                          fill="#E0E0E0"
                        />
                      </g>
                      <g style="mix-blend-mode: multiply">
                        <path
                          d="M24.8457 30.8424L28.2569 27.8762C40.4512 15.5055 55.863 6.79266 72.7501 2.72266C54.3228 7.07852 37.6317 16.8762 24.8457 30.8424Z"
                          fill="#E0E0E0"
                        />
                      </g>
                      <g style="mix-blend-mode: multiply">
                        <path
                          d="M174.58 44.6348C175.025 45.3467 175.44 46.0585 175.885 46.7408C175.44 46.0289 175.144 45.317 174.58 44.6348Z"
                          fill="#E0E0E0"
                        />
                      </g>
                      <g style="mix-blend-mode: multiply">
                        <path
                          d="M117.75 3.10742C118.64 3.31506 119.5 3.58202 120.36 3.81931C119.5 3.52269 118.788 3.25573 117.75 3.10742Z"
                          fill="#E0E0E0"
                        />
                      </g>
                      <g style="mix-blend-mode: multiply">
                        <path
                          d="M126.832 5.83691C127.92 6.21263 128.987 6.6279 130.036 7.08272C129.007 6.64768 127.939 6.23241 126.832 5.83691Z"
                          fill="#E0E0E0"
                        />
                      </g>
                      <g style="mix-blend-mode: multiply">
                        <path
                          d="M131.223 7.55762C132.646 8.15086 134.189 8.80343 135.464 9.48566C134.07 8.80343 132.646 8.15086 131.223 7.55762Z"
                          fill="#E0E0E0"
                        />
                      </g>
                      <g style="mix-blend-mode: multiply">
                        <path
                          d="M145.486 14.9727C146.228 15.4473 146.969 15.9218 147.681 16.4261C146.851 15.9812 146.109 15.5066 145.486 14.9727Z"
                          fill="#E0E0E0"
                        />
                      </g>
                      <g style="mix-blend-mode: multiply">
                        <path
                          d="M103.484 0.585938C104.345 0.585938 105.205 0.76391 106.065 0.882559C105.205 0.76391 104.345 0.645262 103.484 0.585938Z"
                          fill="#E0E0E0"
                        />
                      </g>
                      <g style="mix-blend-mode: multiply">
                        <path
                          d="M163.285 29.8037C163.849 30.397 164.412 30.9902 164.946 31.6131C164.412 31.1088 163.849 30.5156 163.285 29.8037Z"
                          fill="#E0E0E0"
                        />
                      </g>
                      <g style="mix-blend-mode: multiply">
                        <path
                          d="M182.682 243.372C184.45 242.958 186.026 241.96 187.157 240.539C188.287 239.118 188.905 237.357 188.911 235.541C188.89 237.353 188.266 239.106 187.138 240.524C186.01 241.942 184.442 242.944 182.682 243.372Z"
                          fill="#E0E0E0"
                        />
                      </g>
                      <g style="mix-blend-mode: multiply">
                        <path
                          d="M188.381 84.6494C188.381 85.7173 188.559 86.8148 188.618 87.9123C188.559 86.8148 188.47 85.7173 188.381 84.6494Z"
                          fill="#E0E0E0"
                        />
                      </g>
                      <g style="mix-blend-mode: multiply">
                        <path
                          d="M188.73 89.543C188.73 91.204 188.879 92.8355 188.879 94.4965C188.879 92.8355 188.819 91.204 188.73 89.543Z"
                          fill="#E0E0E0"
                        />
                      </g>
                      <path
                        d="M188.734 89.5433C188.763 88.9999 188.763 88.4553 188.734 87.9119C188.734 86.8144 188.734 85.7169 188.497 84.6491L188.23 82.721C188.23 81.7422 187.992 80.793 187.844 79.7548C187.696 78.7166 187.607 78.3904 187.488 77.7378C187.37 77.0852 187.162 75.8987 186.984 75.0089C186.806 74.119 186.658 73.6444 186.509 72.9622L185.886 70.3519C185.708 69.6697 185.501 68.9875 185.293 68.2756C185.086 67.5637 184.819 66.6145 184.552 65.7839C184.285 64.9534 184.077 64.4195 183.869 63.7373C183.662 63.055 183.306 62.1058 183.009 61.305L182.09 59.4659C181.763 58.6947 181.467 57.8938 181.111 57.1226L180.221 55.1352L179.153 52.8809L178.115 50.8046L176.928 48.6096L175.861 46.7112C175.416 46.029 175 45.3171 174.555 44.6052L173.399 42.7661L172.182 40.7194L170.907 38.9397L169.216 36.982L167.852 35.2616L166.25 33.3632L164.826 31.7318C164.292 31.1089 163.729 30.5156 163.165 29.9224L161.652 28.3503L159.902 26.6002L158.33 25.1171L156.462 23.4561L154.86 22.0619L152.902 20.4898L151.419 19.1847C150.737 18.6508 150.055 18.1762 149.343 17.6719C148.631 17.1677 148.245 16.8711 147.652 16.4854C147.059 16.0998 146.109 15.5066 145.487 14.9727L143.796 13.8752L141.393 12.4811L139.554 11.6209L136.588 10.1674C136.113 9.93011 135.698 9.69282 135.223 9.48518C133.829 8.80295 132.406 8.15038 130.982 7.55714L129.795 7.08255C128.767 6.6475 127.699 6.23223 126.592 5.83673L124.812 5.21383C123.922 4.91721 123.032 4.59092 122.113 4.32397L120.125 3.76038C119.265 3.52309 118.405 3.25613 117.515 3.04849L115.824 2.54424L113.095 1.98066L110.9 1.59505L108.32 1.15011L106.066 0.883155C105.205 0.883155 104.345 0.645858 103.485 0.586534L101.171 0.408561L98.5907 0.141602H96.2177H93.6371H90.9675H88.5352L85.4207 0.586534L83.8189 0.764507C82.6621 0.764507 81.5053 1.03147 80.3781 1.20944L78.984 1.41707L75.8398 2.01032L74.1194 2.36626L72.6066 2.72221C55.7727 6.81777 40.4153 15.5289 28.2617 27.8757C42.0533 16.4405 58.8147 9.16675 76.5869 6.90441C94.3592 4.64207 112.408 7.48463 128.625 15.0999C144.842 22.7151 158.556 34.7886 168.165 49.9092C177.775 65.0298 182.882 82.573 182.891 100.489V241.532C182.883 242.151 182.814 242.767 182.683 243.371C184.453 242.934 186.025 241.916 187.148 240.481C188.272 239.045 188.883 237.274 188.882 235.451V94.4969C188.882 92.8358 188.823 91.2044 188.734 89.5433Z"
                        fill="white"
                      />
                      <g style="mix-blend-mode: multiply">
                        <path
                          d="M188.734 89.5433C188.763 88.9999 188.763 88.4553 188.734 87.9119C188.734 86.8144 188.734 85.7169 188.497 84.6491L188.23 82.721C188.23 81.7422 187.992 80.793 187.844 79.7548C187.696 78.7166 187.607 78.3904 187.488 77.7378C187.37 77.0852 187.162 75.8987 186.984 75.0089C186.806 74.119 186.658 73.6444 186.509 72.9622L185.886 70.3519C185.708 69.6697 185.501 68.9875 185.293 68.2756C185.086 67.5637 184.819 66.6145 184.552 65.7839C184.285 64.9534 184.077 64.4195 183.869 63.7373C183.662 63.055 183.306 62.1058 183.009 61.305L182.09 59.4659C181.763 58.6947 181.467 57.8938 181.111 57.1226L180.221 55.1352L179.153 52.8809L178.115 50.8046L176.928 48.6096L175.861 46.7112C175.416 46.029 175 45.3171 174.555 44.6052L173.399 42.7661L172.182 40.7194L170.907 38.9397L169.216 36.982L167.852 35.2616L166.25 33.3632L164.826 31.7318C164.292 31.1089 163.729 30.5156 163.165 29.9224L161.652 28.3503L159.902 26.6002L158.33 25.1171L156.462 23.4561L154.86 22.0619L152.902 20.4898L151.419 19.1847C150.737 18.6508 150.055 18.1762 149.343 17.6719C148.631 17.1677 148.245 16.8711 147.652 16.4854C147.059 16.0998 146.109 15.5066 145.487 14.9727L143.796 13.8752L141.393 12.4811L139.554 11.6209L136.588 10.1674C136.113 9.93011 135.698 9.69282 135.223 9.48518C133.829 8.80295 132.406 8.15038 130.982 7.55714L129.795 7.08255C128.767 6.6475 127.699 6.23223 126.592 5.83673L124.812 5.21383C123.922 4.91721 123.032 4.59092 122.113 4.32397L120.125 3.76038C119.265 3.52309 118.405 3.25613 117.515 3.04849L115.824 2.54424L113.095 1.98066L110.9 1.59505L108.32 1.15011L106.066 0.883155C105.205 0.883155 104.345 0.645858 103.485 0.586534L101.171 0.408561L98.5907 0.141602H96.2177H93.6371H90.9675H88.5352L85.4207 0.586534L83.8189 0.764507C82.6621 0.764507 81.5053 1.03147 80.3781 1.20944L78.984 1.41707L75.8398 2.01032L74.1194 2.36626L72.6066 2.72221C55.7727 6.81777 40.4153 15.5289 28.2617 27.8757C42.0533 16.4405 58.8147 9.16675 76.5869 6.90441C94.3592 4.64207 112.408 7.48463 128.625 15.0999C144.842 22.7151 158.556 34.7886 168.165 49.9092C177.775 65.0298 182.882 82.573 182.891 100.489V241.532C182.883 242.151 182.814 242.767 182.683 243.371C184.453 242.934 186.025 241.916 187.148 240.481C188.272 239.045 188.883 237.274 188.882 235.451V94.4969C188.882 92.8358 188.823 91.2044 188.734 89.5433Z"
                          fill="currentColor"
                        />
                      </g>
                      <g style="mix-blend-mode: multiply">
                        <path
                          d="M74.303 67.4447C74.303 67.8896 74.303 68.3049 74.5106 68.7498C74.5401 69.313 74.5401 69.8774 74.5106 70.4406C74.5106 74.9955 72.7011 79.3639 69.4803 82.5847C66.2595 85.8055 61.8911 87.615 57.3362 87.615C56.773 87.6445 56.2086 87.6445 55.6455 87.615L54.2513 87.4073H54.014C51.1337 86.824 48.4491 85.5174 46.2129 83.6106C49.3857 86.7082 53.6435 88.4433 58.0778 88.4455C60.3317 88.4455 62.5636 88.0011 64.6456 87.1376C66.7276 86.2741 68.619 85.0086 70.2114 83.4134C71.8038 81.8183 73.0661 79.9247 73.9259 77.8412C74.7858 75.7577 75.2264 73.5251 75.2225 71.2711C75.2155 66.8321 73.4691 62.5726 70.3579 59.4062C72.3261 61.5868 73.6865 64.2464 74.303 67.1184C74.303 67.1184 74.303 67.326 74.303 67.4447Z"
                          fill="#A5A5A5"
                        />
                      </g>
                      <path
                        d="M45.7598 82.8984L46.3827 83.4917C48.6189 85.3985 51.3035 86.7051 54.1838 87.2884C51.0221 86.6372 48.1048 85.1169 45.7598 82.8984Z"
                        fill="#6A5CBC"
                      />
                      <path
                        d="M74.5983 68.7504C74.5983 68.3055 74.5983 67.8902 74.3906 67.4453C74.4796 67.8902 74.5389 68.3648 74.5983 68.7504Z"
                        fill="#6A5CBC"
                      />
                      <path
                        d="M74.3017 67.1184C73.7392 64.2163 72.4191 61.5147 70.4753 59.2876L69.9414 58.6943C72.1622 61.0336 73.6741 63.9546 74.3017 67.1184Z"
                        fill="#6A5CBC"
                      />
                      <path
                        d="M60.5672 69.6398C61.4966 69.6456 62.4068 69.375 63.1821 68.8623C63.9573 68.3496 64.5626 67.6179 64.921 66.7604C65.2794 65.9028 65.3747 64.958 65.1948 64.0462C65.0149 63.1343 64.5679 62.2965 63.9107 61.6393C63.2535 60.9821 62.4157 60.5351 61.5038 60.3552C60.592 60.1753 59.6472 60.2706 58.7896 60.629C57.9321 60.9874 57.2004 61.5927 56.6877 62.3679C56.175 63.1432 55.9044 64.0534 55.9102 64.9828C55.9102 65.5944 56.0307 66.1999 56.2647 66.7649C56.4988 67.3299 56.8418 67.8433 57.2742 68.2758C57.7067 68.7082 58.2201 69.0512 58.7851 69.2853C59.3501 69.5193 59.9557 69.6398 60.5672 69.6398Z"
                        fill="white"
                      />
                      <g style="mix-blend-mode: multiply">
                        <path
                          d="M138.697 67.2075C138.697 67.7118 138.875 68.216 138.935 68.7499C138.964 69.3131 138.964 69.8775 138.935 70.4407C138.937 71.6067 138.817 72.7698 138.579 73.9112C137.785 77.7843 135.677 81.2642 132.613 83.7616C129.548 86.2589 125.714 87.6203 121.76 87.6151C121.197 87.6446 120.633 87.6446 120.069 87.6151L118.794 87.3185H118.586C115.706 86.7351 113.021 85.4285 110.785 83.5217C113.954 86.6248 118.215 88.3607 122.65 88.3566C127.205 88.3566 131.573 86.5472 134.794 83.3264C138.015 80.1055 139.824 75.7372 139.824 71.1822C139.841 66.7557 138.127 62.4979 135.049 59.3174C136.925 61.543 138.211 64.2055 138.786 67.0592L138.697 67.2075Z"
                          fill="#A5A5A5"
                        />
                      </g>
                      <path
                        d="M110.1 82.8984L110.723 83.4917C112.959 85.3985 115.643 86.7051 118.524 87.2884C115.362 86.6372 112.445 85.1169 110.1 82.8984Z"
                        fill="#6A5CBC"
                      />
                      <path
                        d="M138.933 68.7504C138.933 68.2165 138.933 67.7123 138.695 67.208C138.806 67.7169 138.885 68.232 138.933 68.7504Z"
                        fill="#6A5CBC"
                      />
                      <path
                        d="M138.699 67.1183C138.109 64.296 136.824 61.6656 134.961 59.4654L134.309 58.7832C136.506 61.1081 138.025 63.9909 138.699 67.1183Z"
                        fill="#6A5CBC"
                      />
                      <path
                        d="M118.798 70.6486C119.725 70.6486 120.631 70.3738 121.402 69.8588C122.172 69.3438 122.773 68.6119 123.128 67.7555C123.483 66.8991 123.575 65.9568 123.395 65.0477C123.214 64.1386 122.767 63.3035 122.112 62.6481C121.456 61.9926 120.621 61.5463 119.712 61.3654C118.803 61.1846 117.861 61.2774 117.004 61.6321C116.148 61.9869 115.416 62.5876 114.901 63.3583C114.386 64.129 114.111 65.0351 114.111 65.962C114.111 67.205 114.605 68.397 115.484 69.276C116.363 70.1549 117.555 70.6486 118.798 70.6486Z"
                        fill="white"
                      />
                      <path
                        d="M113.369 127.155C113.903 127.422 114.437 127.749 114.971 128.045C114.437 127.689 113.903 127.422 113.369 127.155Z"
                        fill="currentColor"
                      />
                      <path
                        d="M130.656 140.088C131.19 140.622 131.754 141.096 132.317 141.66C131.635 141.096 131.072 140.622 130.656 140.088Z"
                        fill="currentColor"
                      />
                      <path
                        d="M118.197 130.092C118.761 130.448 119.324 130.863 119.888 131.278C119.324 130.863 118.791 130.448 118.197 130.092Z"
                        fill="currentColor"
                      />
                      <path
                        d="M140.123 149.669L138.729 148.245L136.059 145.457L134.457 143.885L132.203 141.66C131.639 141.097 131.076 140.622 130.542 140.088L128.495 138.22L126.834 136.766L124.965 135.164L123.304 133.83C122.711 133.355 122.118 132.88 121.525 132.465L119.893 131.279C119.33 130.863 118.766 130.448 118.203 130.092L116.601 129.054L114.969 128.045C114.435 127.749 113.901 127.423 113.368 127.156L111.795 126.325L110.194 125.554L108.651 124.901L106.931 124.278L105.418 123.774L103.965 123.27L102.482 122.914L100.82 122.558C100.331 122.45 99.836 122.371 99.3374 122.321L97.617 122.054H96.2229H94.3541H90.9727C107.88 122.054 120.961 129.914 142.911 154.089L143.979 154.445H144.187L140.123 149.669Z"
                        fill="currentColor"
                      />
                      <path
                        d="M52.4048 150.528C50.892 150.914 49.4386 151.329 47.9258 151.804C49.4089 151.418 50.892 150.914 52.4048 150.528Z"
                        fill="currentColor"
                      />
                      <path
                        d="M65.6937 147.711C63.825 148.008 61.9859 148.334 60.1172 148.719C61.9859 148.452 63.825 148.008 65.6937 147.711Z"
                        fill="currentColor"
                      />
                      <path
                        d="M84.5599 145.901C80.7335 145.901 76.8478 146.317 72.873 146.762C76.8478 146.317 80.7335 146.05 84.5599 145.901Z"
                        fill="currentColor"
                      />
                      <path
                        d="M40.3613 154.385C42.319 153.644 44.2767 152.991 46.2938 152.368L47.9845 151.864C49.4676 151.389 50.9507 150.974 52.4635 150.588L54.0059 150.173C55.9636 149.699 57.9213 149.224 59.9383 148.838H60.2646C62.1334 148.453 63.9724 148.126 65.8411 147.83L67.2056 147.622C68.8667 147.385 70.4981 147.148 72.1592 146.97H73.0194C76.9941 146.525 80.8798 146.258 84.7062 146.109H85.4181H86.8716C71.2082 146.121 55.6541 148.716 40.8359 153.792C40.6644 153.979 40.5059 154.177 40.3613 154.385Z"
                        fill="currentColor"
                      />
                    </svg>
                  </span>
                  <span class="right">4</span>
                </h2>
                <h2 class="error-info">
                  oops<span>!</span>that page can't be found
                </h2>
                <a href="/" class="btn-primary">
                  <div class="btn-wrapper">
                    go back homepage
                    <span>
                      <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                      <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                      <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>


</BaseLayout>
