---
import BaseLayout from '../layouts/BaseLayout.astro';
import { pages } from '../data/pages';

const { meta, breadcrumb, scripts } = pages.teamDetails;
---

<BaseLayout {...meta} breadcrumb={breadcrumb} scripts={scripts}>
<section
        class="team-details section bg-color-body section-padding-top-bottom"
      >
        <div class="container">
          <div class="row g-4 gx-lg-5">
            <div class="col-lg-4 fade-anim">
              <div class="team-details__sidebar">
                <div class="widget-contact v2">
                  <div class="contact-thumb">
                  <img
                    src="/img/avatars/300x300_ava-05.webp"
                    alt="contact avatar"
                    class="w-100"
                   loading="lazy" decoding="async" width="300" height="300" />
                  </div>
                  <h5 class="title">alex aster</h5>
                  <div class="contact-list">
                    <ul>
                      <li>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="54"
                          height="53"
                          viewBox="0 0 54 53"
                          fill="none"
                        >
                          <circle
                            cx="27.1523"
                            cy="26.5"
                            r="25.75"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-dasharray="3 3"
                          />
                          <path
                            d="M21.668 26.1689H20.6814C20.4226 26.1689 20.1889 26.323 20.0866 26.5603L17.3555 32.9196L23.8415 29.607C23.0651 28.5326 22.2969 27.3477 21.668 26.1689Z"
                            fill="currentColor"
                          />
                          <path
                            d="M34.2178 26.5603C34.1156 26.323 33.8818 26.1689 33.6231 26.1689H32.6366C31.4489 28.3945 29.7187 30.6944 28.618 31.9598C27.8439 32.8476 26.4612 32.8466 25.6883 31.9598C25.6093 31.869 25.1966 31.3911 24.6281 30.6563L23.4587 31.2538L27.882 35.6685L36.2633 31.3235L34.2178 26.5603Z"
                            fill="currentColor"
                          />
                          <path
                            d="M16.558 34.7779L16.2052 35.5995C16.0226 36.0246 16.3355 36.4994 16.7999 36.4994H26.2978C26.3572 36.4553 26.3579 36.458 26.6768 36.2926L22.247 31.8721L16.558 34.7779Z"
                            fill="currentColor"
                          />
                          <path
                            d="M38.0996 35.5996L36.7744 32.5137L29.0859 36.4995H37.505C37.9684 36.4995 38.2826 36.0256 38.0996 35.5996Z"
                            fill="currentColor"
                          />
                          <path
                            d="M27.7984 20.3151C27.7984 19.959 27.5081 19.6694 27.1514 19.6694C26.7946 19.6694 26.5044 19.959 26.5044 20.3151C26.5044 20.6711 26.7946 20.9608 27.1514 20.9608C27.5081 20.9608 27.7984 20.6711 27.7984 20.3151Z"
                            fill="currentColor"
                          />
                          <path
                            d="M27.6397 31.0694C27.8575 30.8193 32.9745 24.9002 32.9745 20.8314C32.9745 12.4414 21.3284 12.3391 21.3284 20.8314C21.3284 24.9002 26.4453 30.8193 26.6632 31.0694C26.9211 31.3653 27.3822 31.3649 27.6397 31.0694ZM25.2103 20.315C25.2103 19.2469 26.0811 18.3779 27.1514 18.3779C28.2216 18.3779 29.0923 19.2469 29.0923 20.315C29.0923 21.383 28.2216 22.2519 27.1514 22.2519C26.0811 22.2519 25.2103 21.383 25.2103 20.315Z"
                            fill="currentColor"
                          />
                        </svg>
                        45A Central Germany, San METREX network
                      </li>
                      <li>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="54"
                          height="53"
                          viewBox="0 0 54 53"
                          fill="none"
                        >
                          <circle
                            cx="27.1523"
                            cy="26.5"
                            r="25.75"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-dasharray="3 3"
                          />
                          <path
                            d="M31.3646 16.8589H18.6402C17.2682 16.8589 16.1523 17.9748 16.1523 19.3468V30.4972C16.1523 31.0253 16.7496 31.3229 17.1711 31.0218L20.7148 28.4935C21.0121 28.2817 21.3619 28.1695 21.7271 28.1695H29.5212C30.8932 28.1695 32.0091 27.0537 32.0091 25.6817V17.5034C32.0091 17.1476 31.7204 16.8589 31.3646 16.8589ZM28.2339 24.6667H20.787C20.4312 24.6667 20.1424 24.3784 20.1424 24.0222C20.1424 23.6664 20.4312 23.3777 20.787 23.3777H28.2339C28.5896 23.3777 28.8784 23.6664 28.8784 24.0222C28.8784 24.3784 28.5896 24.6667 28.2339 24.6667ZM28.2339 21.6589H20.787C20.4312 21.6589 20.1424 21.3706 20.1424 21.0144C20.1424 20.6586 20.4312 20.3699 20.787 20.3699H28.2339C28.5896 20.3699 28.8784 20.6586 28.8784 21.0144C28.8784 21.3706 28.5896 21.6589 28.2339 21.6589Z"
                            fill="currentColor"
                          />
                          <path
                            d="M38.1522 24.3462V35.4962C38.1522 36.0207 37.558 36.3241 37.1334 36.0208L33.5897 33.493C33.2924 33.2812 32.9426 33.169 32.5774 33.169H24.7833C23.4113 33.169 22.2954 32.0527 22.2954 30.6807V29.4587H29.521C31.6037 29.4587 33.298 27.7644 33.298 25.6817V21.8579H35.6643C37.0363 21.8579 38.1522 22.9742 38.1522 24.3462Z"
                            fill="currentColor"
                          />
                        </svg>
                        <a href="mailto:info@exemple.com">info@exemple.com</a>
                      </li>
                      <li>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="54"
                          height="53"
                          viewBox="0 0 54 53"
                          fill="none"
                        >
                          <circle
                            cx="27.1523"
                            cy="26.5"
                            r="25.75"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-dasharray="3 3"
                          />
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M35.4974 22.2277H33.2677C31.9016 22.2277 30.7675 21.2739 30.6257 20.0496H23.679C23.5372 21.2739 22.4031 22.2277 21.0369 22.2277H18.8073C17.338 22.2277 16.1523 21.1322 16.1523 19.7918V18.5417C16.1523 17.0466 17.4927 15.8223 19.1295 15.8223H35.1752C36.812 15.8223 38.1523 17.0466 38.1523 18.5417V19.7918C38.1523 21.1322 36.9537 22.2277 35.4974 22.2277Z"
                            fill="currentColor"
                          />
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M34.2731 37.1779H20.0189C18.2403 37.1779 16.7969 35.7216 16.7969 33.943V30.9788C16.7969 30.9272 16.8098 30.8628 16.8484 30.8241L21.501 24.8311C21.5526 24.7667 21.6299 24.728 21.7072 24.728H32.8426C32.9199 24.728 32.9972 24.7667 33.0488 24.8311L37.4565 30.8241C37.4823 30.8757 37.5081 30.9272 37.5081 30.9788V33.943C37.5081 35.7216 36.0517 37.1779 34.2731 37.1779ZM27.146 35.6958C24.5297 35.6958 22.4032 33.5693 22.4032 30.953C22.4032 28.3367 24.5297 26.1973 27.146 26.1973C29.7623 26.1973 31.9017 28.3367 31.9017 30.953C31.9017 33.5693 29.7623 35.6958 27.146 35.6958Z"
                            fill="currentColor"
                          />
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M22.3145 24.2125V22.885C22.3145 22.4468 22.6624 22.0859 23.1006 22.0859H24.3121C24.7503 22.0859 25.0983 22.4468 25.0983 22.8721V24.2125H22.3145Z"
                            fill="currentColor"
                          />
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M29.196 24.2125V22.885C29.196 22.4468 29.5569 22.0859 29.9951 22.0859H31.2066C31.6448 22.0859 31.9928 22.4468 31.9928 22.8721V24.2125H29.196Z"
                            fill="currentColor"
                          />
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M27.1451 32.3449C26.3847 32.3449 25.7532 31.7133 25.7532 30.953C25.7532 30.1797 26.3847 29.561 27.1451 29.561C27.9184 29.561 28.537 30.1797 28.537 30.953C28.537 31.7133 27.9184 32.3449 27.1451 32.3449Z"
                            fill="currentColor"
                          />
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M27.1452 28.8907C26.6554 28.8907 26.2688 28.4911 26.2688 28.0014C26.2688 27.5116 26.6554 27.125 27.1452 27.125C27.6349 27.125 28.0345 27.5116 28.0345 28.0014C28.0345 28.4911 27.6349 28.8907 27.1452 28.8907Z"
                            fill="currentColor"
                          />
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M29.6976 30.3599C29.3883 30.3599 29.0918 30.1924 28.9372 29.9217C28.8212 29.7155 28.7825 29.4706 28.847 29.2515C28.9114 29.0195 29.0532 28.8262 29.2594 28.7102C29.3883 28.6329 29.5429 28.5942 29.6976 28.5942C30.0198 28.5942 30.3033 28.7618 30.4709 29.0324C30.5869 29.2386 30.6126 29.4835 30.5611 29.7026C30.4966 29.9346 30.342 30.1279 30.1487 30.2439C30.0069 30.3212 29.8522 30.3599 29.6976 30.3599Z"
                            fill="currentColor"
                          />
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M29.6976 33.3113C29.5429 33.3113 29.3883 33.2597 29.2594 33.1824C29.0532 33.0664 28.9114 32.8731 28.847 32.654C28.7825 32.422 28.8212 32.19 28.9372 31.9838C29.0918 31.7003 29.3883 31.5327 29.6976 31.5327C29.8522 31.5327 30.0069 31.5843 30.1358 31.6616C30.5611 31.8936 30.7157 32.4478 30.4709 32.8602C30.3033 33.1437 30.0198 33.3113 29.6976 33.3113Z"
                            fill="currentColor"
                          />
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M27.1452 34.7808C26.6554 34.7808 26.2688 34.3813 26.2688 33.8915C26.2688 33.4018 26.6554 33.0151 27.1452 33.0151C27.6349 33.0151 28.0345 33.4018 28.0345 33.8915C28.0345 34.3813 27.6349 34.7808 27.1452 34.7808Z"
                            fill="currentColor"
                          />
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M24.6065 33.3113C24.2843 33.3113 23.9879 33.1437 23.8332 32.8602C23.5883 32.4478 23.7301 31.8936 24.1554 31.6616C24.2972 31.5843 24.4389 31.5327 24.5936 31.5327C24.9158 31.5327 25.2122 31.7003 25.3669 31.9838C25.6118 32.3962 25.47 32.9504 25.0447 33.1824C24.9029 33.2597 24.7611 33.3113 24.6065 33.3113Z"
                            fill="currentColor"
                          />
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M24.5938 30.3599C24.4392 30.3599 24.2974 30.3212 24.1556 30.2439C23.9494 30.1279 23.8076 29.9346 23.7432 29.7026C23.6788 29.4835 23.7174 29.2386 23.8334 29.0324C23.9881 28.7618 24.2845 28.5942 24.6067 28.5942C24.7614 28.5942 24.9031 28.6329 25.0449 28.7102C25.2511 28.8262 25.3929 29.0195 25.4573 29.2515C25.5218 29.4706 25.4831 29.7155 25.3671 29.9217C25.2124 30.1924 24.916 30.3599 24.5938 30.3599Z"
                            fill="currentColor"
                          />
                        </svg>
                        <a href="tel:+95898855666">+9 (589) 885 56 66</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8 fade-anim">
              <div class="team-details__content">
                <h2 class="team-title">Personal Info</h2>

                <p class="p-mb">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting id industry. Lorem Ipsum has been the industry's
                  standard dummy text everrey since the 1500s, when an unknown
                  printer printing and typesetting id industry took.
                </p>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. printing and typesting industry. Lorem Ipsum
                  has been the industry's standard dummy text ever since.
                </p>

                <div class="skills-area">
                  <div class="row g-4">
                    <div class="col-xl-6">
                      <div class="team-Skills">
                        <h4 class="skill-title">Professional Skills</h4>
                        <div class="skills-list">
                          <div class="skill v2">
                            <span class="title">API design </span>
                            <div class="skill-bar">
                              <div class="skill-progress" style="width: 95%">
                                <span class="skill-count" data-skill-count="95"
                                  >95%</span>
                              </div>
                            </div>
                          </div>
                          <div class="skill v2">
                            <span class="title">API design </span>
                            <div class="skill-bar">
                              <div class="skill-progress" style="width: 85%">
                                <span class="skill-count" data-skill-count="85"
                                  >85%</span>
                              </div>
                            </div>
                          </div>
                          <div class="skill v2">
                            <span class="title">development</span>
                            <div class="skill-bar">
                              <div class="skill-progress" style="width: 70%">
                                <span class="skill-count" data-skill-count="70"
                                  >70%</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="team-thumb">
                        <img
                          src="/img/team/1200x1600_team-01.webp"
                          alt="developer portrait"
                          class="w-100"
                         loading="lazy" decoding="async" width="1200" height="1600" />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="award__content fade-anim">
                  <h3 class="award-title">Awards & Experience</h3>
                  <p class="p-mb">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting id industry. Lorem Ipsum has been the industry's
                    standard dummy text everrey since the 1500s, when an unknown
                    printer took.
                  </p>

                  <div class="award__accordion accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button
                          class="accordion-button"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseOne"
                          aria-expanded="true"
                          aria-controls="collapseOne"
                        >
                          <span>1.</span>2022-2025 :
                          <i class="d-none d-sm-block"
                            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i
                          >
                          Architecture Awards
                        </button>
                      </h2>
                      <div
                        id="collapseOne"
                        class="accordion-collapse collapse show"
                        data-bs-parent="#accordionExample"
                      >
                        <div class="accordion-body">
                          <span>1.</span>
                          dummy text the printing and typeetting industry. the
                          printing the and industry's standard dummy.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo"
                        >
                          <span>2.</span>2022-2025 :
                          <i class="d-none d-sm-block"
                            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i
                          >
                          International Award
                        </button>
                      </h2>
                      <div
                        id="collapseTwo"
                        class="accordion-collapse collapse"
                        data-bs-parent="#accordionExample"
                      >
                        <div class="accordion-body">
                          <span>2.</span>
                          dummy text the printing and typeetting industry. the
                          printing the and industry's standard dummy.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="share-links fade-anim">
                  <div
                    class="d-flex justify-content-between align-items-center flex-wrap column-gap-4"
                  >
                    <div class="tags">
                      <h6 class="title">tags :</h6>
                      <div class="tags-list">
                        <a href="/service-details">Music,</a>
                        <a href="/service-details">freelancer,</a>
                        <a href="/service-details">design</a>
                      </div>
                    </div>
                    <div class="share">
                      <h6 class="title">share</h6>
                      <div class="share-list">
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                          <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="https://x.com/" target="_blank" rel="noopener noreferrer" aria-label="X (formerly Twitter)">
                          <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                          <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
                          <i class="fa-brands fa-youtube"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="contact__form fade-anim">
                  <h3 class="form-title">Leave a Reply</h3>
                  <form
                    action="/"
                    autocomplete="off"
                    class="contact-form"
                  >
                    <div class="row g-3">
                      <div class="col-12">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Your Name *"
                          required
                         aria-label="Your Name *" />
                      </div>
                      <div class="col-md-6">
                        <input
                          type="email"
                          class="form-control"
                          placeholder="Your Email *"
                          required
                         aria-label="Your Email *" />
                      </div>
                      <div class="col-md-6">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Phone"
                         aria-label="Phone" />
                      </div>
                      <div class="col-12">
                        <textarea
                          class="form-control"
                          rows="6"
                          placeholder="Message"
                         aria-label="Message"></textarea>
                      </div>
                      <div class="col-12">
                        <button class="btn-primary">
                          <span class="btn-wrapper">
                            send message
                            <span>
                              <i
                                class="fa-sharp fa-solid fa-arrow-up-right"
                              ></i>
                              <i
                                class="fa-sharp fa-solid fa-arrow-up-right"
                              ></i>
                              <i
                                class="fa-sharp fa-solid fa-arrow-up-right"
                              ></i>
                            </span>
                          </span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


</BaseLayout>
