---
import BaseLayout from '../layouts/BaseLayout.astro';
import { pages } from '../data/pages';

const { meta, breadcrumb, scripts } = pages.workDetails;
---

<BaseLayout {...meta} breadcrumb={breadcrumb} scripts={scripts}>
<section
        class="work-details section bg-color-body section-padding-top-bottom"
      >
        <div class="container">
          <div class="row g-4">
            <div class="col-12">
              <div class="work-details__content">
                <div class="work-thumb fade-anim">
                  <div class="work-thumb-wrapper">
                    <img
                      src="/img/works/2200x1650_prj-details-01.webp"
                      alt="work-details-thumb"
                      class="w-100"
                     loading="lazy" decoding="async" width="2200" height="1650" />
                  </div>
                </div>
                <h2 class="work-title">
                  Music show services

                  <span class="tags">
                    <a href="/work-details" class="active">Engineering</a>
                    <a href="/work-details">digital</a>
                  </span>
                </h2>

                <p class="p-mb">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. printing and typesetting industry. Lorem Ipsum
                  has been the industry's standard dummy text ever since the
                  1500s, when an unknown is printer took a galley of type and
                  scrambled it to make a type specimen industry's standard dummy
                  book.
                </p>
                <p>
                  when an unknown printer took a galley of type and scrambled it
                  to make a type specimen book. printing and typesetting
                  industry. Lor Ipsum has been the industry's standard dummy
                  text ever since the 1500s, when an unknown is printer took a
                  galley of type and scrambled it to make a type specimen
                  industry's printing and typesetting industry. Lor Ipsum has
                  been.
                </p>

                <div class="row g-4 mt-1 mt-lg-2 fade-anim">
                  <div class="col-lg-6">
                    <div class="key-feature__content">
                      <h3 class="key-feature-title">Key Features</h3>
                      <p class="p-mb">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting id industry. Lorem Ipsum has been the
                        industry's standard dummy text everrey since the 1500s,
                        when an unknown printer took.
                      </p>

                      <div
                        class="key-feature__accordion accordion"
                        id="accordionExample"
                      >
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapseOne"
                              aria-expanded="true"
                              aria-controls="collapseOne"
                            >
                              <span>1.</span>Key Features
                            </button>
                          </h2>
                          <div
                            id="collapseOne"
                            class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample"
                          >
                            <div class="accordion-body">
                              <span>1.</span>
                              dummy text the printing and typeetting industry.
                              the printing the and industry's standard dummy.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button
                              class="accordion-button collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapseTwo"
                              aria-expanded="false"
                              aria-controls="collapseTwo"
                            >
                              <span>2.</span>Concept Design
                            </button>
                          </h2>
                          <div
                            id="collapseTwo"
                            class="accordion-collapse collapse"
                            data-bs-parent="#accordionExample"
                          >
                            <div class="accordion-body">
                              <span>2.</span>
                              dummy text the printing and typeetting industry.
                              the printing the and industry's standard dummy.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="key-feature__thumb">
                      <img
                        src="/img/works/2200x1650_prj-details-02.webp"
                        alt="work-details-thumb"
                        class="w-100"
                       loading="lazy" decoding="async" width="2200" height="1650" />
                    </div>
                  </div>
                </div>
                <div class="share-links fade-anim">
                  <div
                    class="d-flex justify-content-between align-items-center flex-wrap column-gap-4"
                  >
                    <div class="tags">
                      <h6 class="title">tags :</h6>
                      <div class="tags-list">
                        <a href="/service-details">Music,</a>
                        <a href="/service-details">freelancer,</a>
                        <a href="/service-details">design</a>
                      </div>
                    </div>
                    <div class="share">
                      <h6 class="title">share</h6>
                      <div class="share-list">
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                          <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="https://x.com/" target="_blank" rel="noopener noreferrer" aria-label="X (formerly Twitter)">
                          <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                          <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
                          <i class="fa-brands fa-youtube"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


</BaseLayout>
